* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

body {
  font-family: "Times New Roman", Times, serif;
  font-size: 18px;
}

h1,
h2 {
  color: darkslategrey;
  font-family: Impact, "Times New Roman";
}

h1 {
  font-size: 40px;
  margin-bottom: 20px;
}

h2 {
  font-size: 25px;
  margin-bottom: 10px;
}

.suckIt {
  text-align: justify;
  margin-bottom: 20px;
}

.container {
  max-width: 1140px;
  margin: 20px auto 0 auto;
  /* margin-top: 20px;
  margin-left: auto;
  margin-right: auto; */
}

.main-body {
  width: 75%;
  float: left;
  padding-right: 30px;
  position: relative;
}

.others {
  width: 25%;
  float: left;
}

.other-other {
  margin-bottom: 40px;
}

.author-cube {
  border-top: 2px solid grey;
  padding-top: 20px;
}

.gus {
  font-size: 35px;
  float: left;
  margin-top: 30px;
  margin-left: 15px;
}

.author-cube img {
  height: 100px;
  width: auto;
  border-radius: 50%;
  float: left;
}

.date {
  position: absolute;
  top: 10px;
  right: 30px;
}
