/**********/
/* HEADER */
/**********/

.header {
  align-items: center;
  background-color: #fdf2e9;
  display: flex;
  height: 9.6rem;
  justify-content: space-between;
  padding: 0 4.8rem;
}

.logo {
  height: 2.4rem;
}

/**************/
/* NAVIGATION */
/**************/

.main-nav-list {
  display: flex;
  gap: 3.2rem;
  list-style: none;
}

.main-nav-link:link,
.main-nav-link:visited {
  color: #333;
  font-size: 1.8rem;
  font-weight: 500;
  text-decoration: none;
  transition: all 0.5s;
}

.main-nav-link:hover,
.main-nav-link:active {
  color: #cf711f;
}

.main-nav-link.nav-cta:link,
.main-nav-link.nav-cta:visited {
  background-color: #e67e22;
  border-radius: 9px;
  color: #fff;
  padding: 1.2rem 2.4rem;
}

.main-nav-link.nav-cta:hover,
.main-nav-link.nav-cta:active {
  background-color: #cf711f;
}

/*********************/
/* MOBILE NAVIGATION */
/*********************/

.btn-mobile-nav {
  border: none;
  background: none;
  cursor: pointer;

  display: none;
}

.icon-mobile-nav {
  height: 4.8rem;
  width: 4.8rem;
  color: #333;
}

.icon-mobile-nav[name="close-outline"] {
  display: none;
}

/****************/
/* HERO SECTION */
/****************/

.section-hero {
  background-color: #fdf2e9;
  padding: 4.8rem 0 9.6rem 0;
}

.hero {
  align-items: center;
  display: grid;
  gap: 9.6rem;
  grid-template-columns: 1fr 1fr;
  margin: 0 auto;
  max-width: 130rem;
  padding: 0 3.2rem;
}

.hero-description {
  font-size: 2rem;
  line-height: 1.6;
  margin-bottom: 4.8rem;
}

.hero-img {
  width: 100%;
}

.delivered-meals {
  align-items: center;
  display: flex;
  gap: 1.6rem;
  margin-top: 8rem;
}

.delivered-imgs {
  display: flex;
}

.delivered-imgs img {
  border: 3px solid #fdf2e9;
  border-radius: 50%;
  height: 6.4rem;
  margin-right: -1.6rem;
  width: 6.4rem;
}

.delivered-imgs img:last-child {
  margin-right: 0;
}

.delivered-text {
  font-size: 1.8rem;
  font-weight: 600;
}

.delivered-text span {
  color: #cf711f;
}

/***********************/
/* FEATURED IN SECTION */
/***********************/

.section-featured {
  padding: 4.8rem 0 3.2rem 0;
}

.heading-featured-in {
  color: #888;
  font-size: 1.4rem;
  font-weight: 500;
  letter-spacing: 0.75px;
  margin-bottom: 2.4rem;
  text-align: center;
  text-transform: uppercase;
}

.logos {
  display: flex;
  justify-content: space-around;
}

.logos img {
  height: 3.2rem;
  filter: brightness(0);
  opacity: 50%;
}

/************************/
/* HOW IT WORKS SECTION */
/************************/

.section-how {
  padding: 9.6px 0;
}

.step-number {
  color: #ddd;
  font-size: 8.6rem;
  font-weight: 600;
  margin-bottom: 1.2rem;
}

.step-description {
  font-size: 1.8rem;
  line-height: 1.8;
}

.step-img-box {
  display: flex;
  justify-content: center;
  position: relative;
}

.step-img-box::before {
  background-color: #fae5d3;
  border-radius: 50%;
  content: "";
  display: block;
  left: 50%;
  padding-bottom: 60%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 60%;
  z-index: -1;
}

.step-img-box::after {
  background-color: #f8d8bd;
  border-radius: 50%;
  content: "";
  display: block;
  left: 50%;
  padding-bottom: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 50%;
  z-index: -1;
}

.step-img {
  width: 35%;
}

/*****************/
/* MEALS SECTION */
/*****************/

.section-meals {
  padding: 9.6rem 0;
}

.meal {
  border-radius: 13px;
  box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.075);
  overflow: hidden;
  transition: all 0.5s;
}

.meal:hover {
  box-shadow: 0 3.2rem 6.4rem rgba(0, 0, 0, 0.06);
  transform: translateY(-1.2rem);
}

.meal-img {
  width: 100%;
}

.meal-content {
  padding: 3.2rem 4.8rem 4.8rem 4.8rem;
}

.meal-tags {
  display: flex;
  gap: 0.4rem;
  margin-bottom: 1.2rem;
}

.tag {
  border-radius: 100px;
  color: #333;
  display: inline-block;
  font-size: 1.2rem;
  font-weight: 600;
  padding: 0.4rem 0.8rem;
  text-transform: uppercase;
}

.tag--vegetarian {
  background-color: #51cf66;
}

.tag--vegan {
  background-color: #94d82d;
}

.tag--paleo {
  background-color: #ffd43b;
}

.meal-title {
  color: #333;
  font-size: 2.4rem;
  font-weight: 600;
  margin-bottom: 3.2rem;
}

.meal-attributes {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  list-style: none;
}

.meal-attribute {
  align-items: center;
  display: flex;
  font-size: 1.8rem;
  gap: 1.6rem;
}

.meal-icon {
  color: #e67e22;
  height: 2.4rem;
  width: 2.4rem;
}

.all-recipes {
  font-size: 1.8rem;
  text-align: center;
}

/***********************/
/* TESTIMONIAL SECTION */
/***********************/

.section-testimonials {
  align-items: center;
  background-color: #fdf2e9;
  display: grid;
  grid-template-columns: 55fr 45fr;
}

.testimonials-container {
  padding: 9.6rem;
}

.testimonials {
  column-gap: 8rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  row-gap: 4.8rem;
}

.testimonial-img {
  border-radius: 50%;
  margin-bottom: 1.2rem;
  width: 6.4rem;
}

.testimonial-text {
  font-size: 1.8rem;
  line-height: 1.8;
  margin-bottom: 1.6rem;
}

.testimonial-name {
  color: #6f6f6f;
  font-size: 1.6rem;
}

.gallery-item {
  overflow: hidden;
}

.gallery {
  display: grid;
  gap: 1.6rem;
  grid-template-columns: repeat(3, 1fr);
  padding: 1.6rem;
}

.gallery-item img {
  display: block;
  width: 100%;
  transition: all 0.5s;
}

.gallery-item img:hover {
  transform: scale(1.1);
}

/*******************/
/* PRICING SECTION */
/*******************/

.section-pricing {
  padding: 9.6rem 0;
}

.pricing-plan {
  border-radius: 13px;
  width: 75%;
}

.pricing-plan--starter {
  border: 2px solid #fdf2e9;
  justify-self: end;
  padding: 4.6rem;
}

.pricing-plan--complete {
  background-color: #fdf2e9;
  padding: 4.8rem;
  overflow: hidden;
  position: relative;
}

.pricing-plan--complete::after {
  background-color: #ffd43b;
  color: #333;
  content: "Best value";
  font-size: 1.4rem;
  font-weight: 700;
  padding: 0.8rem 8rem;
  position: absolute;
  right: -18%;
  text-transform: uppercase;
  top: 6%;
  transform: rotate(45deg);
}

.plan-header {
  margin-bottom: 4.8rem;
  text-align: center;
}

.plan-name {
  color: #cf711f;
  font-size: 2rem;
  font-weight: 600;
  letter-spacing: 0.75;
  margin-bottom: 3.2rem;
  text-transform: uppercase;
}

.plan-price {
  color: #333;
  font-size: 6.2rem;
  font-weight: 600;
  margin-bottom: 1.6rem;
}

.plan-price span {
  font-size: 3rem;
  font-weight: 500;
  margin-right: 0.8rem;
}

.plan-text {
  color: #6f6f6f;
  font-size: 1.6rem;
  line-height: 1.6;
}

.plan-sing-up {
  margin-top: 4.8rem;
  text-align: center;
}

.plan-details {
  font-size: 1.6rem;
  line-height: 1.6;
  text-align: center;
}

.feature-icon {
  background-color: #fdf2e9;
  border-radius: 50%;
  color: #e67e22;
  height: 3.2rem;
  margin-bottom: 3.2rem;
  padding: 1.6rem;
  width: 3.2rem;
}

.feature-title {
  color: #333;
  font-size: 2.4rem;
  font-weight: 700;
  margin-bottom: 1.6rem;
}

.feature-text {
  font-size: 1.8rem;
  line-height: 1.8;
}

/**************************/
/* CALL TO ACTION SECTION */
/**************************/

.section-cta {
  padding: 4.8rem 0 12.8rem 0;
}

.cta {
  background-image: linear-gradient(to right bottom, #eb984e, #e67e22);
  border-radius: 11px;
  box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.15);
  display: grid;
  grid-template-columns: 2fr 1fr;
  overflow: hidden;
}

.cta-text-box {
  color: #45260a;
  padding: 4.8rem 6.4rem 6.4rem 6.4rem;
}

.cta .heading-secondary {
  color: inherit;
  margin-bottom: 3.2rem;
}

.cta-text {
  font-size: 1.8rem;
  line-height: 1.8;
  margin-bottom: 4.8rem;
}

.cta-img-box {
  background-image: linear-gradient(to right bottom, rgba(235, 151, 78, 0.35), rgba(230, 125, 34, 0.35)),
    url("../img/eating.jpg");
  background-position: center;
  background-size: cover;
}

.cta-form {
  column-gap: 3.2rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  row-gap: 2.4rem;
}

.cta-form label {
  display: block;
  font-size: 1.6rem;
  font-weight: 500;
  margin-bottom: 1.2rem;
}

.cta-form input,
.cta-form select {
  background-color: #fdf2e9;
  border: none;
  border-radius: 13px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  color: inherit;
  padding: 1.2rem;
  font-size: 1.8rem;
  font-family: inherit;
  width: 100%;
}

.cta-form input::placeholder {
  color: #aaa;
}

.cta *:focus {
  box-shadow: 0 0 0 0.8rem rgba(253, 242, 233, 0.5);
  outline: none;
}

/**********/
/* FOOTER */
/**********/

.footer {
  padding: 12.8rem 0;
  border-top: 1px solid #eee;
}

.footer-nav {
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
  list-style: none;
}

.footer-link:link,
.footer-link:visited {
  color: #767676;
  font-size: 1.6rem;
  text-decoration: none;
  transition: all 0.3s;
}

.footer-link:hover,
.footer-link:active {
  color: #555;
}

.footer-heading {
  margin-bottom: 4rem;
  font-size: 1.8rem;
  font-weight: 500;
}

.logo-col {
  display: flex;
  flex-direction: column;
}

.footer-logo {
  display: block;
  margin-bottom: 3.2rem;
}

.social-links {
  display: flex;
  gap: 2.4rem;
  list-style: none;
}

.social-icon {
  height: 2.4rem;
  width: 2.4rem;
}

.copyright {
  color: #767676;
  font-size: 1.4rem;
  line-height: 1.6;
  margin-top: auto;
}

.contacts {
  font-size: 1.6rem;
  font-style: normal;
  line-height: 1.6;
}

.address {
  margin-bottom: 2.4rem;
}
